[Unit]
Description=Docker backup
ConditionPathExists={{ directories.scripts }}/docker_volumes_backup.sh
Wants=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart={{ directories.scripts }}/docker_volumes_backup.sh
TimeoutStartSec={{ backup_service_timeout }}
User={{ main_user.name }}
Group={{ main_user.name }}
SyslogIdentifier=docker-backup
StandardOutput=journal
StandardError=journal
