[Unit]
Description=Backup Docker volumes
Wants=docker.service
After=docker.service

[Service]
Type=oneshot
User={{ main_user.name }}
Group={{ main_user.name }}
ExecStart={{ directories.scripts }}/docker_volumes_backup.sh
TimeoutStartSec={{ backup_service_timeout }}
