services:
  speedtest-tracker:
    image: linuxserver/speedtest-tracker:{{ speedtest.version }}
    container_name: speedtest-tracker
    restart: unless-stopped
    volumes:
      - data:/config
    environment:
      TZ: {{ timezone }}
      DISPLAY_TIMEZONE: {{ timezone }}
      PUID: {{ main_user.uid }}
      PGID: {{ main_user.gid }}
      APP_NAME: 'Speedtest Tracker'
      APP_KEY: {{ speedtest.app_key }}
      APP_URL: "https://{{ speedtest.host }}"
      DB_CONNECTION: sqlite
      PUBLIC_DASHBOARD: true
      SPEEDTEST_SERVERS: {{ speedtest.servers }}
      SPEEDTEST_SCHEDULE: "6 */2 * * *"
      PRUNE_RESULTS_OLDER_THAN: 30
{% if speedtest.admin is defined %}      
      ADMIN_NAME: {{ speedtest.admin.name | default('Admin') }}
      ADMIN_EMAIL: {{ speedtest.admin.email }}
      ADMIN_PASSWORD: {{ speedtest.admin.password }}
{% endif %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.speedtest.rule=Host(`{{ speedtest.host }}`)"
      - "traefik.http.routers.speedtest.entrypoints=https"
      - "traefik.http.routers.speedtest.tls=true"
      - "traefik.http.services.speedtest.loadbalancer.server.port={{ speedtest.port }}"
      - "homepage.name=Speedtest"
      - "homepage.description=Speed Test Tracker"
      - "homepage.icon=/icons/speedtest.png"
      - "homepage.href=https://{{ speedtest.host }}"
      - "homepage.widget.type=speedtest"
      - "homepage.widget.url=http://speedtest-tracker"
      - "homepage.widget.bitratePrecision=0"
      - "homepage.group=Network"
      - "homepage.weight=1"
networks:
  default:
    name: proxy_net
    external: true
volumes:
  data:
    name: speedtest_data
