services:
  speedtest-tracker:
    image: linuxserver/speedtest-tracker:{{ speedtest.version }}
    container_name: speedtest-tracker
    restart: unless-stopped
    volumes:
      - data:/config
    environment:
      TZ: {{ timezone }}
      DISPLAY_TIMEZONE: {{ timezone }}
      PUID: {{ main_user.uid }}
      PGID: {{ main_user.gid }}
      APP_NAME: {{ speedtest.app.name }}
      APP_KEY: {{ speedtest.app.key }}
      DB_CONNECTION: {{ speedtest.db }}
      PUBLIC_DASHBOARD: {{ speedtest.dashboard | default(false) }}
      PRUNE_RESULTS_OLDER_THAN: {{ speedtest.prune_days | default(0) }}
{% if speedtest.admin is defined %}      
      ADMIN_NAME: {{ speedtest.admin.name | default('Admin') }}
      ADMIN_EMAIL: {{ speedtest.admin.email }}
      ADMIN_PASSWORD: {{ speedtest.admin.password }}
{% endif %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.speedtest.rule=Host(`{{ speedtest.host }}`)"
      - "traefik.http.routers.speedtest.entrypoints=https"
      - "traefik.http.routers.speedtest.tls=true"
      - "traefik.http.services.speedtest.loadbalancer.server.port={{ speedtest.port }}"
      - "homepage.instance.admin.name={{ speedtest.homepage.name }}"
      - "homepage.instance.admin.description={{ speedtest.homepage.description }}"
      - "homepage.instance.admin.icon={{ speedtest.homepage.icon }}"
      - "homepage.instance.admin.group={{ speedtest.homepage.group }}"
      - "homepage.instance.admin.href=https://{{ speedtest.host }}"
      - "homepage.instance.admin.weight={{ speedtest.homepage.weight }}"
      - "homepage.instance.admin.widget.type=speedtest"
      - "homepage.instance.admin.widget.url=http://speedtest-tracker"
      - "homepage.instance.admin.widget.bitratePrecision={{ speedtest.homepage.bitratePrecision }}"
networks:
  default:
    name: proxy_net
    external: true
volumes:
  data:
    name: speedtest_data
