services:
{% for service in media_services %}
  {{ service.name }}:
    image: ghcr.io/hotio/{{ service.name }}:{{ service.version }}
    container_name: {{ service.name }}
    restart: unless-stopped
    logging:
      driver: json-file
    networks:
      - media_net
      - proxy_net
{% if service.name == 'plex' %}
    ports:
      - {{ service.port }}:{{ service.port }}
{% endif %}
    volumes:
      - {{ service.name }}_data:/config
{% if service.name == 'plex' %}
      - plex_transcode:/transcode
      - {{ directories.media_1 }}/media:/data_1/media
      - {{ directories.media_2 }}/media:/data_2/media
{% elif service.name == 'qbittorrent' %}
      - {{ directories.media_1 }}/downloads/torrents:/data_1/downloads/torrents
{% else %}
      - {{ directories.media_1 }}:/data_1
      - {{ directories.media_2 }}:/data_2
{% endif %}
    environment:
      TZ: {{ timezone }}
      PUID: {{ main_user.uid }}
      PGID: {{ main_user.gid }}
      UMASK: {{ umask | default('002') }}
      WEBUI_PORTS: {{ service.port }}/tcp,{{ service.port }}/udp
{% if service.name == 'plex' %}
      PLEX_ADVERTISE_URL: {{ service.advertise_url }}
      PLEX_CLAIM_TOKEN: {{ service.claim_token }}
{% endif %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ service.name }}.rule=Host(`{{ service.host }}`)"
      - "traefik.http.routers.{{ service.name }}.entrypoints=https"
      - "traefik.http.routers.{{ service.name }}.tls=true"
      - "traefik.http.services.{{ service.name }}.loadbalancer.server.port={{ service.port }}"
      - "traefik.docker.network=proxy_net"
      - "homepage.instance.admin.name={{ service.homepage.title }}"
      - "homepage.instance.admin.description={{ service.homepage.description }}"
      - "homepage.instance.admin.icon={{ service.homepage.icon }}"
      - "homepage.instance.admin.group={{ service.homepage.group }}"
      - "homepage.instance.admin.href=https://{{ service.host }}"
      - "homepage.instance.admin.weight={{ service.homepage.order | default(0) }}"
      - "homepage.instance.admin.widget.type={{ service.name }}"
      - "homepage.instance.admin.widget.url=http://{{ service.name }}:{{ service.port }}"
{% if service.homepage.fields is defined and service.homepage.fields | length > 0 %}
      - "homepage.instance.admin.widget.fields={{ service.homepage.fields | to_json | regex_replace('"', '\\"')}}"
{% endif %}
{% if service.homepage.username is defined and service.homepage.username and service.homepage.password is defined and service.homepage.password %}
      - "homepage.instance.admin.widget.username={{ service.homepage.username }}"
      - "homepage.instance.admin.widget.password={{ service.homepage.password }}"
{% elif service.homepage.key is defined and service.homepage.key %}
      - "homepage.instance.admin.widget.key={{ service.homepage.key }}"
{% endif %}
{% endfor %}

networks:
  media_net:
    name: media_net
  proxy_net:
    external: true

volumes:
{% for service in media_services %}
  {{ service.name }}_data:
    name: "{{ service.name }}_data"
{% endfor %}
{% if 'plex' in (media_services | map(attribute='name')) %}
  plex_transcode:
    name: plex_transcode
{% endif %}
