services:
  portainer:
    image: portainer/portainer-ce:{{ portainer.version }}
    container_name: portainer
    restart: unless-stopped
    privileged: true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - data:/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portainer.rule=Host(`{{ portainer.host }}`)"
      - "traefik.http.routers.portainer.entrypoints=https"
      - "traefik.http.routers.portainer.tls=true"
      - "traefik.http.services.portainer.loadbalancer.server.port={{ portainer.port }}"
      - "homepage.instance.admin.name={{ portainer.homepage.name }}"
      - "homepage.instance.admin.description={{ portainer.homepage.description }}"
      - "homepage.instance.admin.icon={{ portainer.homepage.icon }}"
      - "homepage.instance.admin.group={{ portainer.homepage.group }}"
      - "homepage.instance.admin.href=https://{{ portainer.host }}"
      - "homepage.instance.admin.weight={{ portainer.homepage.weight }}"
      - "homepage.instance.admin.widget.type=portainer"
      - "homepage.instance.admin.widget.url=http://portainer:{{ portainer.port }}"
      - "homepage.instance.admin.widget.env={{ portainer.homepage.env }}"
      - "homepage.instance.admin.widget.key={{ portainer.homepage.token }}"
networks:
  default:
    name: proxy_net
    external: true
volumes:
  data:
    name: portainer_data
