services:
  portainer:
    image: portainer/portainer-ce:{{ portainer.version }}
    container_name: portainer
    restart: unless-stopped
    privileged: true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - data:/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portainer.rule=Host(`{{ portainer.host }}`)"
      - "traefik.http.routers.portainer.entrypoints=https"
      - "traefik.http.routers.portainer.tls=true"
      - "traefik.http.services.portainer.loadbalancer.server.port={{ portainer.port }}"
      - "homepage.instance.admin.name=Portainer"
      - "homepage.instance.admin.description=Docker Manager"
      - "homepage.instance.admin.icon=/icons/portainer.png"
      - "homepage.instance.admin.href=https://{{ portainer.host }}"
      - "homepage.instance.admin.group=System"
      - "homepage.instance.admin.weight=1"
      - "homepage.instance.admin.widget.type=portainer"
      - "homepage.instance.admin.widget.url=http://portainer:{{ portainer.port }}"
      - "homepage.instance.admin.widget.env={{ portainer.env }}"
      - "homepage.instance.admin.widget.key={{ portainer.homepage_token }}"
networks:
  default:
    name: proxy_net
    external: true
volumes:
  data:
    name: portainer_data
