Include /etc/ssh/sshd_config.d/*.conf

AllowUsers {{ ssh_users }}

PermitRootLogin {% if 'root' in ssh_users %}yes{% else %}no{% endif %}

PasswordAuthentication no

KbdInteractiveAuthentication no

UsePAM yes

X11Forwarding yes
PrintMotd no

AcceptEnv LANG LC_*

Subsystem       sftp    /usr/lib/openssh/sftp-server
