services:
  cloudflared:
    image: cloudflare/cloudflared:{{ cloudflared.version }}
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel --no-autoupdate run
    volumes:
      - /etc/localtime:/etc/localtime:ro
    environment:
      TUNNEL_TOKEN: {{ cloudflared.tunnel.token }}
    labels:
      - "homepage.instance.admin.name={{ cloudflared.homepage.name }}"
      - "homepage.instance.admin.description={{ cloudflared.homepage.description }}"
      - "homepage.instance.admin.group={{ cloudflared.homepage.group }}"
      - "homepage.instance.admin.icon={{ cloudflared.homepage.icon }}"
      - "homepage.instance.admin.href={{ cloudflared.homepage.url }}"
      - "homepage.instance.admin.weight={{ cloudflared.homepage.weight }}"
      - "homepage.instance.admin.widget.type=cloudflared"
      - "homepage.instance.admin.widget.accountid={{ cloudflared.account_id }}"
      - "homepage.instance.admin.widget.tunnelid={{ cloudflared.tunnel.id }}"
      - "homepage.instance.admin.widget.key={{ cloudflared.homepage.token }}"
networks:
  default:
    name: tunnel_net
    external: true
