services:
  cloudflared:
    image: cloudflare/cloudflared:{{ cloudflared.version }}
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel --no-autoupdate run
    environment:
      TUNNEL_TOKEN: {{ cloudflared.tunnel.token }}
    labels:
      - "homepage.instance.admin.name=Cloudflared"
      - "homepage.instance.admin.description=Cloudflare Tunnel"
      - "homepage.instance.admin.icon=/icons/cloudflare.png"
      - "homepage.instance.admin.href={{ cloudflared.url }}"
      - "homepage.instance.admin.group=System"
      - "homepage.instance.admin.weight=3"
      - "homepage.instance.admin.widget.type=cloudflared"
      - "homepage.instance.admin.widget.accountid={{ cloudflared.account_id }}"
      - "homepage.instance.admin.widget.tunnelid={{ cloudflared.tunnel.id }}"
      - "homepage.instance.admin.widget.key={{ cloudflared.homepage_token }}"
networks:
  default:
    name: tunnel_net
    external: true
