- Bookmarks:
  - ChatGPT:
    - icon: /icons/chatgpt.png
      href: https://chatgpt.com
      description: ''
  - GitHub:
    - icon: /icons/github.png
      href: "{{ homepage.bookmark_urls.github }}"
      description: ''
  - Google Drive:
    - icon: /icons/gdrive.png
      href: "{{ homepage.bookmark_urls.gdrive }}"
      description: ''
  - Gmail:
    - icon: /icons/gmail.png
      href: "{{ homepage.bookmark_urls.gmail }}"
      description: ''
  - Router:
    - icon: mdi-router-wireless-#ffffff
      href: "{{ homepage.bookmark_urls.router_ui }}"
      description: ''
  - Docker Hub:
    - icon: /icons/dockerhub.png
      href: https://hub.docker.com
      description: ''
  - Play with Docker:
    - icon: /icons/play-with-docker.png
      href: https://labs.play-with-docker.com
      description: ''
  - IT Tools:
    - icon: /icons/it-tools.png
      href: https://it-tools.tech
      description: ''
  - Namecheap:
    - icon: /icons/namecheap.png
      href: https://www.namecheap.com
      description: ''
