apiVersion: 1
datasources:
- name: Loki
  type: loki
  access: proxy
  orgId: 1
  version: 1
  url: http://loki:{{ loki.port }}
  basicAuth: false
  isDefault: false
  editable: false
- name: Prometheus
  type: prometheus
  orgId: 1
  version: 1
  url: http://prometheus:{{ prometheus.port }}
  basicAuth: false
  isDefault: true
  editable: false
