services:
  grafana:
    build:
      context: grafana
    image: my-grafana
    container_name: grafana
    restart: unless-stopped
    networks:
      - grafana_net
      - proxy_net
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=false
      - GF_SECURITY_ADMIN_USER={{ grafana.username }}
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana.password }}
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
    volumes:
      - grafana_data:/var/lib/grafana
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=Host(`{{ grafana.host }}`)"
      - "traefik.http.routers.grafana.entrypoints=https"
      - "traefik.http.routers.grafana.tls=true"
      - "traefik.http.services.grafana.loadbalancer.server.port={{ grafana.port }}"
      - "homepage.instance.admin.name=Grafana"
      - "homepage.instance.admin.description=Observability Platfom"
      - "homepage.instance.admin.icon=/icons/grafana.png"
      - "homepage.instance.admin.href=https://{{ grafana.host }}"
      - "homepage.instance.admin.group=System"
      - "homepage.instance.admin.weight=2"
      - "homepage.instance.admin.widget.type=grafana"
      - "homepage.instance.admin.widget.version=2"
      - "homepage.instance.admin.widget.url=http://grafana:{{ grafana.port }}"
      - "homepage.instance.admin.widget.username={{ grafana.username }}"
      - "homepage.instance.admin.widget.password={{ grafana.password }}"
  prometheus:
    build:
      context: prometheus
    image: my-prometheus
    container_name: prometheus
    restart: unless-stopped
    networks:
      - grafana_net
      - proxy_net
    volumes:
      - prometheus_data:/prometheus
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prometheus.rule=Host(`{{ prometheus.host }}`)"
      - "traefik.http.routers.prometheus.entrypoints=https"
      - "traefik.http.routers.prometheus.tls=true"
      - "traefik.http.services.prometheus.loadbalancer.server.port={{ prometheus.port }}"
      - "homepage.instance.admin.name=Prometheus"
      - "homepage.instance.admin.description=Monitoring System"
      - "homepage.instance.admin.icon=/icons/prometheus.png"
      - "homepage.instance.admin.href=https://{{ prometheus.host }}"
      - "homepage.instance.admin.group=System"
      - "homepage.instance.admin.weight=3"
      - "homepage.instance.admin.widget.type=prometheus"
      - "homepage.instance.admin.widget.url=http://prometheus:{{ prometheus.port }}"
  loki:
    build:
      context: loki
    image: my-loki
    container_name: loki
    restart: unless-stopped
    networks:
      - grafana_net
    volumes:
      - loki_data:/loki
  alloy:
    build:
      context: alloy
    image: my-alloy
    container_name: alloy
    hostname: "{{ host_name }}"
    restart: unless-stopped
    privileged: true
    networks:
      - grafana_net
      - proxy_net
    ports:
      - 4317:4317
      - 4318:4318
    volumes:
      - alloy_data:{{ alloy.storage_path }}
      - /var/log:/var/log:ro
      - /run/udev/data:/run/udev/data:ro
      - /var/log/journal:/var/log/journal:ro
      - /run/log/journal:/run/log/journal:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.alloy.rule=Host(`{{ alloy.host }}`)"
      - "traefik.http.routers.alloy.entrypoints=https"
      - "traefik.http.routers.alloy.tls=true"
      - "traefik.http.services.alloy.loadbalancer.server.port={{ alloy.port }}"
      - "homepage.instance.admin.name=Alloy"
      - "homepage.instance.admin.description=Telemetry Collector"
      - "homepage.instance.admin.icon=/icons/alloy.png"
      - "homepage.instance.admin.href=https://{{ alloy.host }}"
      - "homepage.instance.admin.group=System"
      - "homepage.instance.admin.weight=4"
networks:
  grafana_net:
    name: grafana_net
  proxy_net:
    external: true
volumes:
  grafana_data:
    name: grafana_data
  prometheus_data:
    name: prometheus_data
  loki_data:
    name: loki_data
  alloy_data:
    name: alloy_data
