services:
  nodered:
    image: nodered/node-red:{{ nodered.version }}
    container_name: nodered
    restart: unless-stopped
    volumes:
      - data:/data
    environment:
      TZ: {{ timezone }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nodered.rule=Host(`{{ nodered.host }}`)"
      - "traefik.http.routers.nodered.entrypoints=https"
      - "traefik.http.routers.nodered.tls=true"
      - "traefik.http.services.nodered.loadbalancer.server.port={{ nodered.port }}"
      - "homepage.instance.admin.name=Node Red"
      - "homepage.instance.admin.description=IOT Rules Engine"
      - "homepage.instance.admin.icon=/icons/nodered.png"
      - "homepage.instance.admin.href=https://{{ nodered.host }}"
      - "homepage.instance.admin.group=Utils"
      - "homepage.instance.admin.weight=1"
networks:
  default:
    name: proxy_net
    external: true
volumes:
  data:
    name: nodered_data
