// TARGETS

loki.write "default" {
  endpoint {
    url = "http://loki:{{ loki.port }}/loki/api/v1/push"
  }
  external_labels = {}
}

prometheus.remote_write "default" {
  endpoint {
    url = "http://prometheus:{{ prometheus.port }}/api/v1/write"
  }
}

// SYSTEM LOGS

local.file_match "system" {
  path_targets = [{
    __address__ = "localhost",
    __path__ = "/var/log/{syslog,messages,*.log}",
    instance = constants.hostname,
    job = string.format("%s-logs", constants.hostname),
  }]
}

loki.source.file "system" {
  targets = local.file_match.system.targets
  forward_to = [loki.write.default.receiver]
}

discovery.relabel "journal" {
  targets = []
  rule {
    source_labels = ["__journal__systemd_unit"]
    target_label  = "unit"
  }
  rule {
    source_labels = ["__journal__boot_id"]
    target_label  = "boot_id"
  }
  rule {
    source_labels = ["__journal__transport"]
    target_label  = "transport"
  }
  rule {
    source_labels = ["__journal_priority_keyword"]
    target_label  = "level"
  }
}

loki.source.journal "journal" {
  max_age = "24h0m0s"
  relabel_rules = discovery.relabel.journal.rules
  forward_to = [loki.write.default.receiver]
  path = "/var/log/journal"
  labels = {component = string.format("%s-journal", constants.hostname)}
}

// SYSTEM METRICS

prometheus.exporter.unix "metrics" {
  disable_collectors = ["ipvs", "btrfs", "infiniband", "xfs", "zfs"]
  enable_collectors = ["meminfo"]
  filesystem {
    fs_types_exclude = "^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|tmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tracefs)$"
    mount_points_exclude = "^/(dev|proc|run/credentials/.+|sys|var/lib/docker/.+)($|/)"
    mount_timeout = "5s"
  }
  netclass {
    ignored_devices = "^(veth.*|cali.*|[a-f0-9]{15})$"
  }
  netdev {
    device_exclude = "^(veth.*|cali.*|[a-f0-9]{15})$"
  }
}

discovery.relabel "metrics" {
  targets = prometheus.exporter.unix.metrics.targets
  rule {
    target_label = "instance"
    replacement  = constants.hostname
  }
  rule {
    target_label = "job"
    replacement = string.format("%s-metrics", constants.hostname)
  }
}

prometheus.scrape "metrics" {
scrape_interval = "{{ prometheus.scrape_interval }}"
  targets = discovery.relabel.metrics.output
  forward_to = [prometheus.remote_write.default.receiver]
}

// DOCKER LOGS

discovery.docker "linux" {
  host = "unix:///var/run/docker.sock"
}

discovery.relabel "docker_logs" {
  targets = []
  rule {
    source_labels = ["__meta_docker_container_name"]
    regex = "/(.*)"
    target_label = "container_name"
  }
  rule {
    target_label = "instance"
    replacement  = constants.hostname
  }
}

loki.source.docker "default" {
  host = "unix:///var/run/docker.sock"
  targets = discovery.docker.linux.targets
  relabel_rules = discovery.relabel.docker_logs.rules
  forward_to = [loki.write.default.receiver]
}

// DOCKER METRICS

prometheus.exporter.cadvisor "docker_metrics" {
  docker_only = true
}

discovery.relabel "docker_metrics" {
  targets = prometheus.exporter.cadvisor.docker_metrics.targets
  rule {
    target_label = "job"
    replacement = "docker-metrics"

  }
  rule {
    target_label = "instance"
    replacement = constants.hostname
  }
}

prometheus.scrape "docker_metrics" {
  targets = discovery.relabel.docker_metrics.output
  forward_to = [ prometheus.remote_write.default.receiver ]
  scrape_interval = "10s"
}
